.contenedorCompleto{
    display: flex;
    flex-direction: column;
    background-color: rgb(191, 191, 191, 0.58);
    /* padding:160px 0 160px 0; */
    padding: 0 80px;
    margin: 70px 0 70px 0;

}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.contiene {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
  
.cuadro {
    flex: 1 1 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.iconos{
    height: 75px;
    width: 75px;
    padding: 15px 0 15px 0;
    text-align: center;
}

.btn{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: 'Poppins';
}

.btn:hover{
    background-color: rgba(183, 159, 159, 0.39);
    box-shadow: 0px 15px 20px rgba(53, 63, 59, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.btn:active {
    transform: translateY(-1px);
}

